{% extends "base.html.j2" %}

{% block content %}
<h2>Create new diddle</h2>
<form class="poll-form" action="/poll/create" method="post">
  {% include "poll_info_table.html.j2" %}

  <p>You can add time options as well as modify all settings after submitting.</p>
  <input class="green" type="submit" value="Create">
</form>

{% if created_polls | length != 0 %}
<h3>My diddles</h3>
<ul>
  {% for poll in created_polls %}
  <li><a href="/manage/{{ poll.manage_code }}">{{ poll.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}

<br>
<br>
<div>
  <h3>About diddle</h3>
  <p><i>diddle</i> is a minimalist, mobile friendly, fast and self-hosted scheduling tool,
     licensed under <a href="https://github.com/jantuomi/diddle/blob/main/LICENSE">Apache 2.0.</a>
  </p>
  <p>
    Find <i>diddle</i> on <a href="https://github.com/jantuomi/diddle">GitHub</a>. © {{ now.year }} Jan Tuomi. All rights reserved.
  </p>
</div>
{% endblock %}
