<table class="vote-table">
  <tr>
    <th></th>
    {% for choice in choices %}
    <th>
      {% include "poll_choice_datetime_range.html.j2" %}
      <span>
        <i>{{ choice.votes | length }} votes</i>
      </span>
    </th>
    {% endfor %}
  </tr>
  {% for voter_name in voter_names %}
  <tr>
    <td>{{ voter_name }}</td>
    {% for choice in choices %}
    {% if selections[(voter_name, choice.id)] == 1 %}
    <td>
      <input type="checkbox" checked disabled>
    </td>
    {% elif selections[(voter_name, choice.id)] == 0 %}
    <td>
      <input type="checkbox" disabled>
    </td>
    {% else %}
    <td>
      ??
    </td>
    {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}

  <!-- Add a row for the current user -->
  <tr>
    <td>
      <label for="voter_name" hidden>Your name</label>
      <input type="text" name="voter_name" placeholder="Your name" required>
    </td>
    {% for choice in choices %}
    <td>
      <input type="checkbox" name="choice_{{ choice.id }}">
    </td>
    {% endfor %}
  </tr>
  <!-- End of the row for the current user -->
</table>

<input class="green" type="submit" value="Submit">
